@font-face {
    font-family: montserrat;
    src: url('/src/Montserrat-Regular.ttf');
}
* {
    font-family: montserrat;
    border: none;
    margin: 0;
    padding: 0;
}

div{
    margin: 0;
}

h1{
    color: black;
    font-size: 20px !important;
    padding-top: 20px;
}

h2 {
    color: black;
    font-size: 11px !important;
    padding-top: 15px;
}

h3 {
    color: black;
    font-size: 18px !important;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
}


h4 {
    color: black;
    font-size: 18px !important;
    padding-top: 15px;
    font-weight: bold;
}

h5 {
    color: black;
    font-size: 13px !important;
    padding-top: 5px;
}


p {
    color: black;
    font-size: 11px !important;
    padding-top: 15px;
    line-height: 17px;
    padding-right: 10px;
    padding-left: 10px;
}

label {
    color: black;
    font-size: 11px !important;
    line-height: 17px;
    padding-right: 10px;
    padding-left: 10px;
}

.titulo-news {
    padding-left: 40px;
    padding-right: 35px;
    padding-top: 20px;
}

.box-news {

    padding-top: 20px;
    background-color: #C4C4C4;
}

.box-ebook {
    background-color: #C4C4C4;
    height: 120;
    width: 120;
    padding-bottom: 15px;
}


.txt-ebook {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 5px !important;
    margin-bottom: 5px !important;
}

.prc-ebook {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 5px !important;
    color: #D53B3B !important;
    font-weight: bold;
}

.container-news {
    background-color: white;
    width: 375px;
}

.banner-home {
    background-color: #A3A3A3;
    width: 375px;
    height: 200px;
}

.banner-prof {
    background-color: white;
    width: 375px;
    height: 200px;
}

.icone {
    width: 28px;
    height: 23px;
    z-index: 1;
}

#check {
    display: none;
}

#icone {
    cursor: pointer;
    padding: 15px;
    position: fixed;
    z-index: 1;
    top: 20px;
}

.barra {
    background-color: #A3A3A3;
    width: 300px;
    height: 100%;
    position: fixed;
    transition: all .2s linear; 
    left: -600px;
    top: 72px;
    z-index: 1;
}

.banner-buttons {
    background-color: white;
    width: 375px;
    height: 100px;
    text-align: center;
}

.banner-categorias {
    background-color: white;
    width: 375px;
    height: 50px;
    text-align: center;
}

.banner-roll {
    background-color: white;
    width: 375px;
    height: 10px;
    text-align: center;
}

.box-txt {
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 0.75px solid #9F9F9F;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 10px;
    height: 25px;
    vertical-align: middle;
    padding: 5px;
}

.box-txt-selected {
    background: #9F9F9F;
    mix-blend-mode: normal;
    border: 0.75px solid #9F9F9F;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 10px;
    height: 25px;
    vertical-align: middle;
    padding: 5px;
    color: white !important;
    font-weight: bold !important;
}

.botao-vermelho {
    width: 250px;
    height: 42;
    background-color: #FF473A;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    margin-left: 62,5px;
    margin-right: 62,5px;
}

.nav-top {
    top:24px;
    position: fixed;
    background-color: white;
    height: 48px;
    width: 375px;
    margin-left: 0 !important;
    z-index: 1;
}

.no-link:link {
    text-decoration: none !important;
    color: black !important;
}


.nav-lat {
    width: 100%;
    position: absolute;
    top: 20px;
}

.nav-lat a {
    text-decoration: none;
}

.link {
    font-family: montserrat;
    padding: 20px;
    font-size: 16px;
    transition: all .2s linear;
    color: white;
    text-decoration: none;

}

.logo-link {
    height: 30px;
    width: 30px;
}


#check:checked ~ .barra{
    transform: translateX(600px);
}

#check:checked ~ .barra nav a .link{
    margin-top: 0;
}


ul .item {
    list-style-image: url("/src/img/checked.png");
}

ul .title {
    list-style-image: url("/src/img/checked-title.png");
}

li .title {
    padding-bottom: 15px;
}

ul .title2 {
    list-style-image: url('/src/img/check-title.png');
}

li .title2 {
    margin-top: -5px;
}

ul .item2 {
    list-style: none;
}

.statusbar{
    width: 376px;
    background-image: url('/src/img/status_bar.png');
    width: 375px;    
    position:fixed;
    top:0;
    left: 0;
    z-index: 1;
}

.img-perfil{
    background-color: grey;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 30px 20px;
    background-image: url('');
}

.titulo-curso {
    font-size: 24px;

}

.subtitulo-curso {
    color: #FF473A;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px !important;
}

.tela-video {
    width: 327px;
    height: 230px;
    background-color: #C4C4C4;
    margin-top: 20px;
    margin-left: 24px;
}

.linha-notas{
    width: 324px;
    height: 1px;
    background-color: #A3A3A3;
    margin-top: 30px;
    margin-left: 24px;
}